{% extends 'shop/basic.html' %}

{% block title %} Title of About {% endblock %}
{% block body %}
<style>


</style>

<div class="adcss">


                        <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">About Us Here...!!</h1>
                <p class="lead">Feel free to know about uss........</p>
              </div>
            </div>



<div class="container">

These consist of a group of peers who decide as a group, perhaps by voting. The difference between a jury and a committee is that the members of the committee are usually assigned to perform or lead further actions after the group comes to a decision, whereas members of a jury come to a decision. In common law countries, legal juries render decisions of guilt, liability and quantify damages; juries are also used in athletic contests, book awards and similar activities. Sometimes a selection committee functions like a jury. In the Middle Ages, juries in continental Europe were used to determine the law according to consensus among local notables.

Committees are often the most reliable way to make decisions. Condorcet's jury theorem proved that if the average member votes better than a roll of dice, then adding more members increases the number of majorities that can come to a correct vote (however correctness is defined). The problem is that if the average member is subsequently worse than a roll of dice, the committee's decisions grow worse, not better; therefore, staffing is crucial.

Parliamentary procedure, such as Robert's Rules of Order, helps prevent committees from engaging in lengthy discussions without reaching decisions.

Ecologies
This organisational structure promotes internal competition. Inefficient components of the organisation starve, while effective ones get more work. Everybody is paid for what they actually do, and so runs a tiny business that has to show a profit, or they are fired.

Companies who utilise this organisation type reflect a rather one-sided view of what goes on in ecology. It is also the case that a natural ecosystem has a natural border - ecoregions do not, in general, compete with one another in any way, but are very autonomous.

The pharmaceutical company GlaxoSmithKline talks about functioning as this type of organisation in this external article from The Guardian. By:Bastian Batac De Leon.

Matrix organisation
See also: Matrix management
This organisational type assigns each worker two bosses in two different hierarchies. One hierarchy is "functional" and assures that each type of expert in the organisation is well-trained, and measured by a boss who is super-expert in the same field. The other direction is "executive" and tries to get projects completed using the experts. Projects might be organised by products, regions, customer types, or some other schemes.

As an example, a company might have an individual with overall responsibility for products X and Y, and another individual with overall responsibility for engineering, quality control, etc. Therefore, subordinates responsible for quality control of project X will have two reporting lines.

Pyramids or hierarchical
A hierarchy exemplifies an arrangement with a leader who leads other individual members of the organisation. This arrangement is often associated with basis that there are enough imagine a real pyramid, if there are not enough stone blocks to hold up the higher ones, gravity would irrevocably bring down the monumental structure. So one can imagine that if the leader does not have the support of his subordinates, the entire structure will collapse. Hierarchies were satirised in The Peter Principle (1969), a book that introduced hierarchiology and the saying that "in a hierarchy every employee tends to rise to his level of incompetence."

Theories
See also: Organizational theory
In the social sciences, organisations are the object of analysis for a number of disciplines, such as sociology, economics,[5] political science, psychology, management, and organisational communication. The broader analysis of organisations is commonly referred to as organisational structure, organisational studies, organisational behaviour, or organisation analysis. A number of different perspectives exist, some of which are compatible:


Economic approaches to organisations also take the division of labour as a starting point. The division of labour allows for (economies of) specialisation. Increasing specialisation necessitates coordination. From an economic point of view, markets and organisations are alternative coordination mechanisms for the execution of transactions.[5]

An organisation is defined by the elements that are part of it (who belongs to the organisation and who does not?), its communication (which elements communicate and how do they communicate?), its autonomy (which changes are executed autonomously by the organisation or its elements?), and its rules of action compared to outside events (what causes an organisation to act as a collective actor?).

By coordinated and planned cooperation of the elements, the organisation is able to solve tasks that lie beyond the abilities of the single elements. The price paid by the elements is the limitation of the degrees of freedom of the elements. Advantages of organisations are enhancement (more of the same), addition (combination of different features) and extension. Disadvantages can be inertness (through co-ordination) and loss of interaction.

Among the theories that are or have been influential are:

</div>
</div>

{% endblock %}